@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600&display=swap');

:root {
  font-family: "Space Grotesk", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.4;
  font-weight: 400;
  color: #121212;
  background-color: #f7f4ef;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 2rem;
}

a {
  color: inherit;
}
